@model NBAScoringBelt.ViewModels.HomeViewModel
@{
  ViewBag.Title = "NBA Scoring Belt";
}
<div class="row">
  <div class="col-md-4">
    <h2>Current Belt Holder</h2>
    <h3>@Model.CurrentHolder.LeadingScorer <img src="@Url.Content("~/Content/images/teams/" + Model.CurrentHolder.LeadingScorerTeam.ToUpper() + ".gif")" /></h3>
    <h2>Next Belt Game</h2>
    <h3><img src="@Url.Content("~/Content/images/teams/" + Model.NextBeltGame.AwayTeam.ToUpper() + ".gif")" /> @Model.NextBeltGame.AwayTeam @@ <img src="@Url.Content("~/Content/images/teams/" + Model.NextBeltGame.HomeTeam.ToUpper() + ".gif")" /> @Model.NextBeltGame.HomeTeam</h3>
    <h4>@Model.NextBeltGame.GameDate.ToString("yyyy-MM-dd")</h4>
  </div>
  <div class="col-md-4">
    <h2>Rules</h2>
    <ul>
      <li>It starts with the first game of last season's NBA scoring champion.</li>
      <li>The leading scorer of the game takes the belt.</li>
      <li>Tie breaker: Points --> EFG% --> TS%</li>
      <li>No playoffs, the race is over after the regular season.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>About</h2>
    <p>
      Idea based on the <a href="http://nbachampionshipbelt.com">NBA Championship Belt</a>
      <br />
      Team Logos: <a href="http://nba.com">NBA.com</a>
      <br />
      Stats Compiled From: <a href="http://basketball-reference.com">basketball-reference.com</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Top 5 Belt Holders</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Player</th>
              <th>Belts</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var player in Model.BeltHolderStats)
            {
              <tr>
                <td><img src="@Url.Content("~/Content/images/teams/" + player.TeamName.ToUpper() + ".gif")" /> @player.PlayerName</td>
                <td>@player.BeltsHeld</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Top 5 Teams</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Team</th>
              <th>Belts</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var team in Model.TeamStats)
            {
              <tr>
                <td><img src="@Url.Content("~/Content/images/teams/" + team.TeamName.ToUpper() + ".gif")" /> @team.TeamName</td>
                <td>@team.BeltWinners</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Game Log</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Date</th>
            <th>Leading Scorer</th>
            <th>Team</th>
            <th>Points</th>
            <th>eFG%</th>
            <th>Home Team</th>
            <th>Points</th>
            <th>Away Team</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var game in Model.Games)
          {
            <tr>
              <td>@game.GameDate.ToString("yyyy-MM-dd")</td>
              <td>@game.LeadingScorer</td>
              <td><img src="@Url.Content("~/Content/images/teams/" + game.LeadingScorerTeam.ToUpper() + ".gif")" /> @game.LeadingScorerTeam</td>
              <td>@game.LeadingScorerPoints</td>
              <td>@game.LeadingScorerEFGPercentage</td>
              <td class="@(game.HomeTeamWinner ? "winner" : "loser")">@game.HomeTeam</td>
              <td class="@(game.HomeTeamWinner ? "winner" : "loser")">@game.HomeTeamPoints</td>
              <td class="@(game.AwayTeamWinner ? "winner" : "loser")">@game.AwayTeam</td>
              <td class="@(game.AwayTeamWinner ? "winner" : "loser")">@game.AwayTeamPoints</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <p><small>* Denotes that the belt holder was tied and determined by eFG%</small></p>
  </div>
</div>
